body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #d5d5d5;
}

h1 {
    color: aliceblue;
    background-color: salmon;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
}

.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.76);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.input {
    display: grid;
    justify-content: center;
    text-align: center;
}

.input label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 5px;
    padding-top: 5px;
}

.input input {
    height: 20px;
    width: 200px;
}

.button {
    display: grid;
    justify-content: center;
    text-align: center;
}

button {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    color: aliceblue;
    background-color: salmon;
    border: none;
    cursor: pointer;
    transition: all ease 0.2s;
}

button:hover {
    scale: 1.1;
}